@font-face {
    font-family: 'NITW';
    src: url('../fonts/NITW-Regular.woff') format('woff'),
    url('../fonts/NITW-Regular.woff2') format('woff2');
}

/* Сброс стилей */

body {
    margin: 0;
    padding: 0;
}

/* Для изображений в figure */

figure {
    margin: 0;
}

/* Применение шрифта на весь текст
Стандартный размер. Минимум */

h1,p,h2,h3,span,li,figcaption {
    font-family: 'NITW';
    font-size: 18pt;
}


/* Стилизованные тексты */

.italic {
    font-size: 18pt;
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

/* Базовые стили для текстов */

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.title-p {
    font-size: 23pt;
}

h1 {
    font-family: 'NITW';
    font-size: 50pt;
    margin: 0;
}