@font-face {
    font-family: 'NITW';
    src: url('../fonts/NITW-Regular.woff') format('woff'),
    url('../fonts/NITW-Regular.woff2') format('woff2');
}

/* Сброс стилей */

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top,#000000, #1b6c95);
    background-size: cover;
}

/* Для изображений в figure */

figure {
    margin: 0;
}

/* Применение шрифта на весь текст
Стандартный размер. Минимум */

h1,p,h2,h3,span,li,figcaption {
    font-family: 'NITW';
    font-size: 18pt;
}


/* Стилизованные тексты */

.italic {
    font-size: 18pt;
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

/* Базовые стили для текстов */

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.title-p {
    font-size: 23pt;
}

h1 {
    font-family: 'NITW';
    font-size: 50pt;
    margin: 0;
}

/* Центрирование всего контента */

.content {
    text-align: center;
}

/* Заголовок с кратким описанием */

.h1-information {
    display: inline-block;
    width: 70%;
    border-style: solid;
    border-color: white;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-radius: 0 0 20px 20px;
    align-items: center;
}

.h1-information>span {
    display: inline-block;
    width: 50%;
    font-size: 20pt;
}

@media (max-width: 500px) {
    .h1-information {
        width: 100%;
    }
    .h1-information>span {
        width: 80%;
    }
}

/* Карторчка преимуществ */


.topic-cards {
    background-color: rgb(0, 0, 0);
    width: 80%;
    display: inline-block;
    padding: 10px;
    padding-bottom: 65px;
    border-radius: 20px;
    margin-bottom: 50px;
}


.topic-cards p,
.topic-cards h2,
.topic-cards h3 {
    color: white;
}

.topic-cards>h2 {
    font-size: 30pt;
    text-align: start;
    margin: 40px;
}

.topic-cards h3 {
    font-size: 20pt;
}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    height: 330px;
    text-align: start;
    padding: 10px;
    padding-left: 20px;
    border-style: solid;
    border-color: white;
    border-width: 0.8px;
    border-radius: 10%;
    margin-bottom: 15px;
    transition: background-color 0.3s ease-in-out;
}

.card:hover {
    background-color: #1b6c95;
    transition: background-color 0.5s ease-in-out;
}

.card>img {
    width: 100px;
}

.card>video {
    width: 100px;
}

.card>h3 {
    margin: 0;
}


@media (max-width: 500px) {
  .topic-cards {
    width: 90%;
  }
}


/* Руководство */

.instruction {
    display: inline-block;
    padding: 10px;
    width: 1100px;
    background-color: rgb(51, 80, 85);
    border-radius: 20px;
}

.instruction p,
.instruction h3 {
    color: white;

}



.instruction>.question {
    justify-content: center;
    display: flex;
    padding-left: 10px;
}

.question>div {
    background-color: rgb(85, 85, 85);
    display: inline-block;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}

.question>div>.text>span {
    font-size: 25pt;
    color: white;
}

.img>img {
    width: 100px;
}

.img>video {
    width: 100px;
}



/* Тг-бот */

.tg-bot-img {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.tg-bot-img>img {
    width: 500px;
}

.tg-bot-img>p {
    margin: 0;
    font-style: italic;
}

.tg-bot>.button-row {
    align-items: center;
    justify-content: center;
    display: flex;
}

.tg-bot>.button-row>a>.button {
    background-color: rgb(36, 155, 215);
    width: 180px;
    height: 65px;
    display: flex;
    /* margin-top: 40px; */
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    
}

.tg-bot .button>img {
    width: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

/* Платформы */

.platforms {
    display: flex;
    flex-direction: column;
}

.platforms-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.platforms-row>a>div {
    background-color: burlywood;
    width: 200px;
    height: 80px;
    margin-bottom: 40px;
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}



.platforms-row>a>div>img {
    width: 55px;
}

.platforms-row>a>div>span {
    font-size: 20pt;
}


/* Анимация для кнопки платформы при наведении */

/* .platforms-row>a>div:hover {
    
            ПОТОМ!
 } */

 /* Андроид инструкция */

.android>.colums {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.android p {
    font-size: 23pt;
}

.android>.colums>.step {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 70%;
    margin-bottom: 30px;
}

.android img {
    width: 250px;
}

.android>.colums>.step>.text {
    width: 250px;

}

.android>.colums>.step>.text>p {
    font-size: 22pt;
}

.android>h3 {
    font-size: 30pt;
    background-color: rgb(115, 155, 132);
}

.android-dowload {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.android-dowload>p {
    font-size: 23pt;
}



.android-dowload>a>.button {
    background-color: rgb(13, 179, 82);
    width: 180px;
    height: 65px;
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}


 /* Windows инструкция */



.windows :where(p,span) {
    font-size: 23pt;
    margin-bottom: 5px;
}

.windows .explanation :where(p,span) {
    font-size: 18pt;
}

.windows li {
    color: white;
}

.windows>.introductory>.list {
    text-align: start;
    margin: 10px;
    margin-bottom: 30px;
    width: 50%;
}

.windows>.list>p {
    margin: 5px;
}

.windows img {
    width: 500px;
}

.windows>.colums>.step>.text {
    width: 300px;

}


.windows>h3 {
    font-size: 30pt;
    background-color: rgb(3, 108, 179);
}

.windows>.background-p {
    font-size: 21pt;
    background-color: rgb(14, 40, 58);
}

.windows-dowload {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.windows-dowload>p {
    font-size: 23pt;
}

.windows-dowload>a>.button {
    background-color: rgb(0, 0, 0);
    width: 180px;
    height: 65px;
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.windows figcaption {
    color: white;
    font-style: italic;
}

.windows>.introductory>figure {
    background-color: #000000;
    border-radius: 20px;
    width: 50%;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;

}

@media (max-width: 500px) {
    .instruction {
        width: 90%;
    }
    .instruction img {
        width: 90%;
    }
    body,html {
        overflow-x: hidden;
        width: 100%;
    }
    .windows>.introductory>.list {
        width: 80%;
    }
  }